/* Estilos globales */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* Estilos del canvas */
canvas {
    border: 2px solid #fff;
    background-color: #000;
}

/* Estilos de la puntuación */
.puntuacion {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    padding: 0 50px;
}